
module add --name={{ auth_module }} --resources={{ working_dir }}/build/authfilter.jar --dependencies=io.undertow.core,org.jboss.as.server,org.wildfly.security.elytron

embed-server --empty-config --remove-existing


/interface=public:add(inet-address=0.0.0.0)

/socket-binding-group=standard-sockets:add(default-interface=public)
/socket-binding-group=standard-sockets/remote-destination-outbound-socket-binding=member1:add(host=localhost,port=8180)
/socket-binding-group=standard-sockets/remote-destination-outbound-socket-binding=member2:add(host=localhost,port=8280)
/socket-binding-group=standard-sockets/socket-binding=http:add(port=8080)

/extension=org.wildfly.extension.io:add
/extension=org.wildfly.extension.undertow:add
/extension=org.wildfly.extension.elytron:add
/extension=org.jboss.as.logging:add

/subsystem=io:add
/subsystem=io/worker=default:add
/subsystem=io/buffer-pool=default:add

batch
/subsystem=undertow:add
/subsystem=undertow/server=default-server:add
/subsystem=undertow/server=default-server/host=default-host:add
/subsystem=undertow/servlet-container=default:add
/subsystem=undertow/buffer-cache=default:add
run-batch

stop-embedded-server
embed-server

/subsystem=undertow/server=default-server/http-listener=default:add(socket-binding=http,enable-http2=true)
/subsystem=undertow/configuration=handler/reverse-proxy=lb:add
/subsystem=undertow/configuration=handler/reverse-proxy=lb/host=member1:add(outbound-socket-binding=member1,path=/sample,scheme=http)
/subsystem=undertow/configuration=handler/reverse-proxy=lb/host=member2:add(outbound-socket-binding=member2,path=/sample,scheme=http)
/subsystem=undertow/server=default-server/host=default-host/location=\/sample:add(handler=lb)

/subsystem=undertow/configuration=filter/custom-filter=auth-filter:add(class-name=de.ctrlaltdel.authfilter.AuthFilter,module={{ auth_module }})
/subsystem=undertow/server=default-server/host=default-host/filter-ref=auth-filter:add

stop-embedded-server
embed-server

/subsystem=elytron:add
/subsystem=elytron/properties-realm=ProxyRealm:add(users-properties={path=users.properties,relative-to=jboss.server.config.dir,plain-text=true})
/subsystem=elytron/security-domain=ProxyDomain:add(realms=[{realm=ProxyRealm}],default-realm=ProxyRealm)

stop-embedded-server
embed-server

/subsystem=logging:add
/subsystem=logging/console-handler=CONSOLE:add(formatter="LB %d{HH:mm:ss,SSS} %-5p [%c] (%t) %s%e%n")
/subsystem=logging/logger=org.jboss.as:add(level=INFO)
/subsystem=logging/logger=org.wildfly.extension:add(level=INFO)
/subsystem=logging/root-logger=ROOT:add(level=INFO,handlers=[CONSOLE])

stop-embedded-server